<div class="stack-center col-12">
	<div class="hero-text">
		<h1>DiscDrive</h1>
		<p>A Mobile Caddy for your solo rounds and fieldwork.</p>
	</div>
	<br>
	<div class="row-center col-12">
		<div class="btn-group">
			<%= link_to "Sign In", new_user_session_path, type:"button", class: "group-button"%>
			<%= link_to "Orientation", home_about_path, type: "button", class: "group-button" %>
		</div>
	</div>
</div>