<div class="title">Colors</div>
	
<div class="stack-left">
	<div class="row-left">
		<div class="square10"></div>
		<div class="square1"></div>
		<div class="square2"></div>
		<div class="square7"></div>
		<div class="square6"></div>
	</div>
	<div class="row-left">
		
		<div class="square3"></div>
		<div class="square4"></div>
		<div class="square5"></div>
	</div>
	<div class="row-left">
		<div class="square8"></div>
		<div class="square9"></div>
		
	</div>
</div>