<div class="stack-center">
  <div class="subtitle"><%= variant.name %></div>
  <div class="subtitle-minor"><%= "#{variant.length} Holes" %></div>
  <div class="row-even col-wide">
    <% variant.pars.split('').each do |par| %>
      <div class="holenumber">par</div>
    <% end %>
  </div>
</div>