<div class="row-between col-12">
  <div class="stack-left col-4">
    <h1 class="title">New variant</h1>
  </div>
  <div class="stack-left col-8">
    <%= render "form", variant: @variant %>
  </div>
</div>