
<div class="stack-center col-10">

  <%= render @variant %>

  <div class="btn-group">
    <%= link_to "Edit this variant", edit_variant_path(@variant), class:"group-button" %>
    <%= link_to "Back to variants", variants_path, class:"group-button" %>
    <%= link_to "Courses", courses_path, class:"group-button" %>
  </div>
</div>
