
<div id="<%= dom_id course %>">
  <div class="stack-center col-12">
    <%= link_to "#{course.name}", course, class:"subtitle" %>
    <div class="stack-center"> 
      <%= "#{course.city}, #{course.state}" %>
    </div>
    <% course.variants.each do |variant| %>
      <h6 class="subtitle"><%= variant.name %></h6>
    <% end %>
  </div>
</div>

