<div class="stack-center col-12">
  <div class="row-center">   
    <h2 class="title">New course</h2>
  </div>
  <div class="row-center">  
    <%= render "form", course: @course %>
  </div>
  <br>
  <div class="row-center">
    <%= link_to "Back to courses", courses_path, class:"btn-flat" %>
  </div>
</div>