@use 'colors';
@use 'queries' as q;

.col-tablet {
	@include q.media('<=desktop') {
		flex-direction: column;
		justify-content: center;
	}
}

.holenumber {
	display: flex;
	justify-content: center;
	font-family: "Righteous";
	font-size: 25pt;
	color: colors.$info;
	background-color: rgba(20,20,20,.2);
	border-radius: 50%;
	@include q.media('<=phone') {
		width: 20vw;
	}
	@include q.media('>phone') {
		width: 11.11%;
	}
}

.number-select {
	font-size: 2rem;
	background-color: transparent;
	margin: .1rem;
	border: none;
	width: 2.5rem;
}

.numberinput-container {
	@include q.media('<=phone') {
		width: 20vw;
	}
	@include q.media('>phone') {
		width: 11%;
	}
}

.length-select {
	font-family: "Righteous", sans-serif;
	font-size: 1.8rem;
	background-color: transparent;
	border: 1px solid colors.$dark;
	border-radius: 5px;
	color: colors.$dark;
}

.variant-card {
	display: flex;
	width: 100%;
	justify-content: center;

	@include q.media('<desktop') {
		flex-direction: column;
	}

	.variant-title {
		display: flex;
		font-family: "Monoton";
		font-size: 50pt;
		padding: 1rem;
		justify-content: center;

		@include q.media('<desktop') {
			width: 100%;
		}

		@include q.media('>=desktop') {
			width: 40%;
		}

		@include q.media('<=tablet') {
			font-size: 35pt;
		}

		@include q.media('<=phone') {
			font-size: 25pt;
		}		
	}

	.variant-form {
		display: flex;
		justify-content: center;
		width: 100%;

		.stack-variant-pars {
			display: flex;
			flex-direction: column;

			@include q.media('<=phone') {
				flex-direction: row;
			}

			.row-par {
				display: flex;
				justify-content: center;

				@include q.media('<=phone') {
					flex-direction: column;
					width: 20vw;
				}
				@include q.media('>phone') {
					width: 100%;
				}
			}
		}
	}
}

